clip @ git+https://github.com/ultralytics/CLIP.git
gradio>=5.0.0
h5py>=3.9.0
huggingface-hub>=0.26.0
matplotlib>=3.7.0
mediapipe==0.10.14
numpy==1.26.4
opencv-python-headless==4.8.1.78
pandas>=1.5.0
Pillow>=10.0.0
PyYAML>=6.0.0
requests>=2.31.0
scipy>=1.10.0
seaborn>=0.13.0
torch>=2.1.0
torchvision>=0.16.0
timm>=0.9.16
tqdm>=4.66.0
ultralytics>=8.3.0
